
# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
build/

# OS specific
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Sensitive / Large Files
FluxCurrency - Google Play package/
*.keystore
*.aab
*.apk
!assets/*.apk
